target/classes/ssh.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:ssh="http://www.mulesoft.org/schema/mule/ssh" xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ssh http://www.mulesoft.org/schema/mule/ssh/current/mule-ssh.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">

    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <ssh:config name="SSH" username="atu" password="atu" host="localhost" port="2225" timeout="600" callbackFlowName="callbackFlow" doc:name="SSH" receiverBufferSize="10000" knownHostsFile="/Users/atu/.ssh/known_hosts"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8082" doc:name="HTTP Request Configuration"/>
      <flow name="sshbiginsights-demoFlow1" >
        <http:listener config-ref="HTTP_Listener_Configuration" path="/ssh" doc:name="HTTP"/>
        <set-variable variableName="var1" value="C" doc:name="Variable"/>
        <set-payload value="#[[&quot;test&quot;: &quot;A&quot;, &quot;test1&quot; : &quot;B&quot;, &quot;test2&quot;:  flowVars[&quot;var1&quot;]]]" doc:name="Set Payload"/>
            <ssh:send config-ref="SSH" content="/tmp/aa.sh #[payload.test] #[payload.test1] #[payload.test2]" doc:name="SSH"
                  breakLine="true" />
        <logger message="#[message.payload]" level="INFO" doc:name="Logger"/>
      </flow>
      <flow name="callbackFlow" >
            <logger message="#[payload]" doc:name="Logger"/>
       </flow>

</mule>